.container{
    background-color: rgb(189, 55, 68);
}
.brown,.yellow,.green,.orange{
    height: 50px;
}
.brown{
    background-color:rgb(71, 38, 0) ;
}
.yellow{
    background-color: rgb(247, 194, 0);
}
.green{
    background-color:rgb(0, 150, 65) ;
}
.orange{
    background-color: rgb(237, 142, 0);
}